html, body {
    height: 100%;
    color: #000000;
    background-color: #eee;
}

.navbar a {
    color: inherit;
}

#wrap {
    min-height: 100%;
    padding-bottom: 170px;
}

#footer {
    position: relative;
    margin-top: -170px;
    clear:both;
}

.nav>.vkontakte>a:hover {
    background-color: #2B587A;
    color: #FFFFFF;
}

.nav>.odnoklassniki>a:hover {
    background-color: #f2720c;
    color: #FFFFFF;
}

.nav>.facebook>a:hover {
    background-color: #3b5998;
    color: #FFFFFF;
}

.icon {
    font-size: 18px;
}
