html, body {
    background-color: #eee;
}
.navbar-nav>li.vkontakte>a:hover {
    background-color: #2B587A;
    color: #FFFFFF;
}
.navbar-nav>li.odnoklassniki>a:hover {
    background-color: #f2720c;
    color: #FFFFFF;
}
.navbar-nav>li.facebook>a:hover {
    background-color: #3b5998;
    color: #FFFFFF;
}
.icon {
    font-size: 18px;
}
