{% extends 'GeekhubResourceBundle::layout.html.twig' %}
{% block title %}Мрії{% endblock %}

{% block body %}
    <div id="wrap">
        {% include 'GeekhubResourceBundle:includes:menu.html.twig' %}

        <div class="container">
            <div class="marketing">
                <h1>Черкаські мрії</h1>
                <hr/>
                <ul class="list-inline">
                  <li><a href="#" >Нові <span class="badge">42</span></a></li>
                  <li><a href="#" >Популярні <span class="badge">42</span></a></li>
                  <li><a href="#" >На стадії втілення <span class="badge">42</span></a></li>
                  <li><a href="#" >Втілені <span class="badge">42</span></a></li>
                </ul>

                {% include 'GeekhubResourceBundle:includes:dreams.html.twig' %}
                <div class="row">
                    <div class="col-md-7 col-md-offset-5">
                        <button type="button" class="btn btn-link btn-lg">Show More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'GeekhubResourceBundle:includes:footer.html.twig' %}
{% endblock %}
