{% extends 'GeekhubResourceBundle:Email:layout.html.twig' %}

{% block title %}
    Повернуто на дооформлення
{% endblock title %}

{% block body %}
    <p>Адміністрація повернула мрію <a href="{{ url('edit_dream', {'id': dream.id }) }}">{{ dream.title }}</a> на дооформлення.</p>
    <p>Зауваження:</p>
    {{ dream.rejectedDescription|raw }}
{% endblock body %}
