{% extends 'GeekhubResourceBundle:Email:layout.html.twig' %}

{% block title %}
    Створено мрію
{% endblock title %}

{% block body %}
    Ви створили мрію <a href="{{ url('view_dream', {'slug': dream.slug }) }}">{{ dream.title }}</a>.
{% endblock body %}