{% extends 'GeekhubResourceBundle:Email:layout.html.twig' %}

{% block header %}
    Мрія <a href="{{ url('view_dream', {'slug': dream.slug }) }}">{{ dream.title }}</a> - не втілена!!!
{% endblock header %}

{% block content %}
    Адміністрація не підтверджує втулення мрії <a href="{{ url('view_dream', {'slug': dream.slug }) }}">{{ dream.title }}</a>.
{% endblock content %}
