<html>
    <body>
        <h1>
            Успішна реєстрація
        </h1>
        <p>
            Ви зареєстровані на <a href="http://chedream.local">Черкаcькій мрії</a> як {{ user }}.
        </p>
    </body>
</html>
