<div class="ui inverted menu">
    <a class="active item">
        <i class="home icon"></i> Мрії
    </a>
    <a class="item">
        <i class="question icon"></i> FAQ
    </a>
    <a class="item">
        <i class="mail icon"></i> Контакти
    </a>
    <div class="ui dropdown item">
        Підписатися <i class="icon dropdown"></i>
        <div class="menu">
            <div class="ui inverted form">
                <div class="field">
                    <label class="item"><i class="edit icon"></i>Ваш e-mail</label>
                    <input type="text" placeholder="mail@example.com">
                </div>
                <div class="mini ui black submit button">Send</div>
            </div>
        </div>
    </div>
    <a class="item">
        <i class="add sign box icon"></i> Додати мрію
    </a>

    <div class="right menu">
        <div class="item">
            Авторизуватись
            <div class="ui inverted basic icon button">
                <i class="facebook icon"> </i>
            </div>
            <div class="ui inverted basic icon button">
                <i class="vk icon"></i>
            </div>
            <div class="ui inverted basic icon button">
                <i class="odnoklassniki icon"></i>
            </div>
        </div>
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Пошук...">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>