security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_MODERATOR: ROLE_USER
        ROLE_ADMIN: ROLE_MODERATOR

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username
        my_custom_hwi_provider:
            id: gh_fosuser.oauth_user_provider # hwi_oauth.user.provider.fosub_bridge #gh_fosuser.oauth_user_provider

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
            logout:       true
            anonymous:    true
            oauth:
                resource_owners:
                    facebook: "/login-social/check-facebook"
                    vkontakte: "/login-social/check-vkontakte"
                    odnoklassniki: "/login-social/check-odnoklassniki"
                login_path:   /login-social
                failure_path: /login3

                oauth_user_provider:
                    service: gh_fosuser.oauth_user_provider 

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }
