sonata_admin:
    title:      Cherkassy Dream Admin Panel !

sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]

sonata_doctrine_orm_admin:
    entity_manager: ~

sonata_media:
    default_context: default
    db_driver: doctrine_orm
    contexts:
        default:
            providers:
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file
            formats:
                small: { width: 100 , quality: 70}
                big:   { width: 500 , quality: 70}
    cdn:
        server:
            path: /upload/media
    filesystem:
        local:
            directory:  %kernel.root_dir%/../web/upload/media
            create:     false
