{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}

    <div class="btn-group">
       <button type="button" class="btn btn-default" id="new">Нові</button>
       <button type="button" class="btn btn-default" id="popular">Популярні</button>
       <button type="button" class="btn btn-default" id="submitted">На стадії втілення</button>
       <button type="button" class="btn btn-default" id="success">Втілені</button>
    </div>   
    <div class="row">
      <div id="dreams">
        {{ render(controller('GeekhubDreamBundle:Dream:viewAllDreams', {'dreams': dreams, 'status': 'new', 'offset': 0})) }}
      </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
    document.requestUrl="{{ path('view_all_dreams', {'status': 'new', 'offset': '1'}) }}";
    document.requestUrl=document.requestUrl.substr(0, document.requestUrl.length-1);
    document.offset=0;
    document.load=0;
    document.dreamStatus='new';
    var dreamLoader = function(status, offset) {
        var requestUrl=Routing.generate('view_all_dreams', {'status': status, 'offset': offset});
        $.ajax({
            type: "POST",
            url: requestUrl,
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
                document.dreamStatus = status;
                document.offset=0;
            }
        });
    }
    var dreamUpdater = function() {
        var requestUrl=Routing.generate('view_all_dreams', {'status': document.dreamStatus, 'offset': document.offset+8});
        $.ajax({
            type: "POST",
            url: requestUrl,
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").append(html);
                document.dreamStatus = status;
                document.offset=document.offset + 8;
            }
        });
    }


    $('#new').on('click', function() {
        document.load = true;
        dreamLoader('new', 0);
        document.load = false;
    });

    $('#popular').on('click', function() {
        document.load = true;
        dreamLoader('popular', 0);
        document.load = false;
    });

    $('#submitted').on('click', function() {
        document.load = true;
        dreamLoader('submitted', 0);
        document.load = false;
    });

    $('#success').on('click', function() {
        document.load = true;
        dreamLoader('success', 0);
        document.load = false;
    });

    $(window).scroll( function() {
        if($(window).height() + $(window).scrollTop() >= $(document).height() && !document.load) {
            document.load = true;
            dreamUpdater();
            document.load = false;
        }
    });


    </script>
{% endblock %}
