{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}

    <div class="btn-group">
       <button type="button" class="btn btn-default" id="new">Нові</button>
       <button type="button" class="btn btn-default" id="popular">Популярні</button>
       <button type="button" class="btn btn-default" id="implementing">На стадії втілення</button>
       <button type="button" class="btn btn-default" id="success">Втілені</button>
    </div>   
    <div id="added_success"></div>
    <div class="row">
      <div id="dreams">
        {# render(controller('GeekhubDreamBundle:Dream:viewAllDreams', {'dreams': dreams, 'status': 'new', 'offset': 0})) #}
      </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
    
    document.load=0;
    document.offset=0;
    document.dreamStatuses = ['collecting-resources', 'implementing'];
    document.orderBy='createdAt';

    var dreamUpdater = function() {
        var path = Routing.generate('api_v1_get_dreams');
        $.get(path, {offset: document.offset, statuses: document.dreamStatuses, orderBy: document.orderBy, orderDirection: document.orderDirection})
            .done(function (response) {
                $(response).appendTo($('#dreams')).hide().fadeIn(300);
                document.offset=document.offset + 8;
                })
            .error(function (msg) {
                console.log(msg);
                });
    }


    $('#new').on('click', function() {
        document.load = true;
        document.offset = 0;
        document.dreamStatuses = ['collecting-resources'];
        document.orderBy = 'createdAt';
        document.orderDirection = 'desc';
        $('#dreams').empty();
        dreamUpdater();
        document.load = false;
    });

    $('#popular').on('click', function() {
        document.load = true;
        document.offset = 0;
        document.dreamStatuses = ['collecting-resources', 'implementing'];
        document.orderBy = 'favouritesCount';
        document.orderDirection = 'desc';
        $('#dreams').empty();
        dreamUpdater();
        document.load = false;
    });

    $('#implementing').on('click', function() {
        document.load = true;
        document.offset = 0;
        document.dreamStatuses = ['implementing'];
        document.orderBy = 'createdAt';
        document.orderDirection = 'desc';
        $('#dreams').empty();
        dreamUpdater();
        document.load = false;
    });

    $('#success').on('click', function() {
        document.load = true;
        document.offset = 0;
        document.dreamStatuses = ['completed', 'success'];
        document.orderBy = 'createdAt';
        document.orderDirection = 'desc';
        $('#dreams').empty();
        dreamUpdater();
        document.load = false;
    });

    $(window).scroll( function() {
        if($(window).height() + $(window).scrollTop() >= $(document).height() && !document.load) {
            document.load = true;
            dreamUpdater();
            document.load = false;
        }
    });

    dreamUpdater();

    </script>
{% endblock %}
