{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}

    {{ include('GeekhubDreamBundle:includes:homePageSlider.html.twig', {completedDreams: completedDreams}) }}

    <div>
        <div id="added_success"></div>

        <div id="dreams"></div>
    </div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        var loadDreams = function (startIndex) {
            var path = Routing.generate('api_v1_get_dreams');
            $.get(path, {offset: startIndex, statuses: ['collecting-resources', 'implementing'] })
                    .done(function (response) {
                        $(response).appendTo($('#dreams')).hide().fadeIn(300);
                    })
                    .error(function (msg) {
                        console.log(msg);
                    }
            );
        };

        $(document).ready(function() {
            var startIndex = 0;
            loadDreams(startIndex);

            $(window).scroll(function() {
                if($(window).height() + $(window).scrollTop() >= $(document).height()) {
                    startIndex += 8;
                    loadDreams(startIndex);
                    console.log('end document scrolled');
                }
            });
        });

        $('#dreams').on('click', 'span', function(event) {
            var itemObj = $(event.target);
            if (itemObj.data('sended') == 'yes') {
                console.log('already in favorite');
                return;
            }
            var path = Routing.generate('dream_ajax_dream_toFavorite');
            $.post(path, {id : $(event.target).data('idmedia')})
                .done(function(msgDone) {
                    console.log(msgDone);
                    itemObj.css({color:'green'});
                    itemObj.data('sended', 'yes');
                    itemObj.attr('title', 'уже в улюблених.');
                    $('#added_success').append(
                        '<div class="alert alert-info" style="margin-top: 20px;"> <strong>Мрію успішно додано до списку улюблених.</strong>' +
                                '&nbsp; &nbsp; <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> &nbsp;&nbsp; ' +
                        '</div>'
                    );
                })
                .error(function(msg) {
                    console.log(msg);
                }
            );
        });
    </script>
{% endblock %}
