<div class="col-md-1"><img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_thumb') }}" class="img-thumbnail"></div>
<div class="col-md-2">
    <div class="row">
     {{ dream.title }}
    </div>
    <div class="row">
     {{ dream.description|raw }}
    </div>
</div>
