<div class="col-md-2"><img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_thumb') }}" class="img-thumbnail"></div>
<div class="col-md-4">
    <div class="row">
     <h4>{{ dream.title }}</h4>
    </div>
    <div class="row">
     <p>{{ dream.description|raw }}</p>
    </div>
</div>
