{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}
    Черкаська мрія - Про проект
{% endblock title %}

{% block content %}
<div class="content page-about">
    <span class="banner-block"></span>
    <div class="about-content">
        <h1 class="caption">Змінюємо місто разом</h1>
        <p><strong>Черкаська Мрія</strong> - це платформа, що допомагає гуртуватися для добрих справ. Ресурс покликаний об'єднати усіх активістів міста навколо соціально-орієнтованих та корисних ідей та ініціатив. </p>
        <p>Кожен охочий може створити свою "Мрію" - ідею, яка робить наше місто кращим. Автор може додати опис ідеї, графічні матеріали, відео, презентацію та інші файли. Кожна мрія також має кошторис - список грошових ресурсів, інструментів та робіт, які потрібні для втілення Мрії у життя. Після створення, Мрія потрапляє на головну сторінку ресурсу, де користувачі  та відвідувачі мають змогу ознайомитись з описом Мрії та іншими матеріали. Долучитися дуже просто - виберіть ресурс, яким ви хочете допомогти, та натисніть "Підтримати". </p>
        <p>Коли необхіні ресурси зібрані - настає час реалізовувати Мрію. Усі користувачі, які підтримали мрію, отримують електронного листа з інформацією щодо збору команди та початку робіт. Після успішної реалізації ідеї - автор додає світлини, а також опис процессу реалізації. Ці матеріали стають доступними усім користувачам ресурсу. </p>
        <p>Ми закликаємо всіх активних та ініціативних людей нашого міста долучатися до нашого проекту та починати змінювати світ на краще починаючи з нашого рідного міста Черкаси. </p>
    </div>
</div> <!--/Content-->
{% endblock content %}
