{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}
    About page
{% endblock title %}

{% block content %}
<div class="content page-about">
    <span class="banner-block"></span>
    <div class="about-content">
        <h1 class="caption">Таким буде наше місто</h1>
        <p>reet lorperos non etueril exeriurero doleniam, sustrud exero commy num velestrud dolor secte feu feuisl dolore dolore ming eumsandip euisim illan veliqui te magnim quatio eugait del irilit vullaorem incinis at. Hent utat ad tis nis non volenim vullutpat. Veniamet ametue exer irit vel iuscin velessequat prat et il ea facil il irit, quissi blaore vel dolore ting euis alis ate feummy nos duisit wis nos aliquat. Ut prat ut niam il iustrud dolum iriliquat aut dolore feum amcons doloreet lobore do odiam,</p>
        <p>reet lorperos non etueril exeriurero doleniam, sustrud exero commy num velestrud dolor secte feu feuisl dolore dolore ming eumsandip euisim illan veliqui te magnim quatio eugait del irilit vullaorem incinis at. Hent utat ad tis nis non volenim vullutpat. Veniamet ametue exer irit vel iuscin velessequat prat et il ea facil il irit, quissi blaore vel dolore ting euis alis ate feummy nos duisit wis nos aliquat. Ut prat ut niam il iustrud dolum iriliquat aut dolore feum amcons doloreet lobore do odiam,</p>
        <p>reet lorperos non etueril exeriurero doleniam, sustrud exero commy num velestrud dolor secte feu feuisl dolore dolore ming eumsandip euisim illan veliqui te magnim quatio eugait del irilit vullaorem incinis at. Hent utat ad tis nis non volenim vullutpat. Veniamet ametue exer irit vel iuscin velessequat prat et il ea facil il irit, quissi blaore vel dolore ting euis alis ate feummy nos duisit wis nos aliquat. Ut prat ut niam il iustrud dolum iriliquat aut dolore feum amcons doloreet lobore do odiam,</p>
    </div>
</div> <!--/Content-->
{% endblock content %}
