{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}
    <div class="layout">
        <div class="alert alert-danger">
            THIS MUST BE ABOUT CONTENT
        </div>
    </div>
{% endblock content %}
