<!-- FOOTER -->
<div id="footer"{# class="panel-footer"#}>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                Черькаська мрія &copy; 2014
                &nbsp;<a href="#">Мрії</a>
                &nbsp;<a href="#">Регламент і поради</a>
                &nbsp;<a href="#">Контакти</a>
                &nbsp;<a href="#">Підписатися на оновлення</a>
            </div>
            <div class="col-md-1">Follow us</div>
            <div class="col-md-2">
                <i class="icon-facebook-rect"></i>
                <i class="icon-odnoklassniki-rect"></i>
                <i class="icon-vkontakte-rect"></i>
            </div>
            <div class="col-md-2">Розробка <a href="#">geekhub team</a></div>
        </div>
    </div>

</div>
