<!-- FOOTER -->
<div class="row">
    <div class="col-md-3 visible-md visible-lg">
        &copy; 2014 CheDream - Open source crowdfunding system
    </div>
    <div class="col-md-3 visible-md visible-lg">
        <p><a href="#">Мрії</a></p>
        <p><a href="#">Регламент і поради</a></p>
        <p><a href="#">Контакти</a></p>
        <p><a href="#">Підписатися на оновлення</a></p>
    </div>
    <div class="col-md-3">
        <p>Слідкуйте за нами</p>
        <p>
                <i class="icon icon-facebook" ></i>
                <i class="icon icon-odnoklassniki"></i>
                <i class="icon icon-vkontakte"></i>
                <i class="icon icon-twitter"></i>
        </p>
    </div>
    <div class="col-md-3">Розробка <a href="http://geekhub.ck.ua/">Geekhub Team</a></div>
</div>
