<div class="footer">
    <div class="wrap">
        <div class="col-md-3 copy-block">
            <span class="icon"></span>
            &copy; 2014 Черкаська мрія
        </div>
        <div class="col-md-3">
            <ul class="footer-nav">
                {#<li><a href="{{ path('dream_list') }}">Мрії</a></li>#}
                <li><a href="{{ path('faq') }}">Регламент і поради</a></li>
                <li><a href="{{ path('page_contacts') }}">Контакти</a></li>
            </ul>
        </div>
        <div class="col-md-3 media-block">
            <span class="media-title">Слідкуйте за нами</span>
            <a href="#" class="fb"><i class="icon icon-facebook"></i></a>
            <a href="#" class="ok"><i class="icon icon-odnoklassniki"></i></a>
            <a href="#" class="vk"><i class="icon icon-vkontakte"></i></a>
            <a href="#" class="tw"><i class="icon icon-twitter-bird"></i></a>
        </div>
        <div class="col-md-3 developers">
            <ul class="developers">
                <li>
                    <span class="title">Розробка:</span>
                    <a href="http://geekhub.ck.ua/" class="executer dev"></a>
                </li>
                <li>
                    <span class="title">Дизайн:</span>
                    <a href="http://sergium.net/" class="executer designer"></a>
                </li>
            </ul>
        </div>
    </div> <!--/Wrap-->
</div> <!--/Footer-->
