<!-- FOOTER -->
<div id="footer" class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                &copy; 2014 CheDream - Open source crowdfunding system
            </div>
            <div class="col-md-3">
                <p><a href="#">Мрії</a></p>
                <p><a href="#">Регламент і поради</a></p>
                <p><a href="#">Контакти</a></p>
                <p><a href="#">Підписатися на оновлення</a></p>
            </div>
            <div class="col-md-3">
                <p>Слідкуйте за нами</p>
                <p style="font-size: 18px">
                        <i class="icon-facebook" ></i>
                        <i class="icon-odnoklassniki"></i>
                        <i class="icon-vkontakte"></i>
                        <i class="icon-twitter"></i>
                </p>
            </div>
            <div class="col-md-3">Розробка <a href="http://geekhub.ck.ua/">Geekhub Team</a></div>
        </div>
    </div>

</div>
