{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block stylesheets %}
    <style>
        hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .row {
            margin: 5px 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row wrapper">
        <div class="row">
            <div class='span12'>
                <h1 class="text-center">Регламент та поради</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <ul class="nav nav-pills nav-stacked">
                        {% for faq in faqs %}
                            <li><a href="{{ path('faq', { 'id': faq.id }) }}">{{ faq.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                    <div class="row">
                        {% render path('faq_show', {'id': id}) %}
                    </div>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}
