{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block body %}

    <div id="wrap">
        {% include 'GeekhubResourceBundle:includes:menu.html.twig' %}
        <div id="main" class="container text-center">
            <h2> development process </h2>
        </div>
    </div>
    {% include 'GeekhubResourceBundle:includes:footer.html.twig' %}
{% endblock %}
