{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}
    <div style="padding: 5% 0;">
        <div  style="padding: 10% 0;">
            <h1 class="text-center">development process</h1>
        </div>
    </div>
{% endblock %}
